[Desktop Entry]
Name=RuleUser
Comment=Management computers and monitoring users in network
Comment[ru]=Управление компьютерами и мониторинг пользователей в сети
GenericName=Remote computers management
GenericName[ru]=Удалённое управление компьютерами
Exec=/usr/bin/ruleuser
Icon=/usr/share/ruleuser/icons/ruleuser_32.png
Terminal=false
Type=Application
Categories=Network;
